name: .NET CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore

    - name: Test with Coverage Check
      run: |
        dotnet test ./xUnitTests/xUnitTests.csproj \
        --no-build \
        --verbosity normal \
        /p:CollectCoverage=true \
        /p:Threshold=100 \
        /p:ThresholdType=line